.view-button{
        display: inline-block;
        padding: 10px 20px;
        background-color: #167ce9;
        color: #fff;
        text-align: center;
        cursor: pointer;
      }
      
.Delete-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.approve-list{
  padding-top: 7rem;
}
.pat-tbl-head{
  color:#167ce9 ;
}