
a {
    text-decoration: none;
}
.button{
    cursor: pointer;
}
.navbar-container {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-right: 40rem; */
    /* padding: 0 2rem; */
    width: 100%;
    height: 70px;
    background-color: #ffff;
    /* background: #176B87; */
    color: #157EE9;
    position: fixed;
    top: 0;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.5);
}
.navbar-container .logo-container a {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    color: #157EE9;
    margin-right: 9rem;
}

.navbar-container .logo-container a:hover {
    opacity: 0.8;
}

.navbar-container .nav-items {
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
}

.navbar-container .nav-items .nav-link a {
    color: #157EE9;
    padding: 10px;
    text-transform: uppercase;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.navbar-container .nav-items .nav-link:after {
    content: '';
    display: block;
    border-top: 2px solid #157EE9;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    -webkit-transition: transform 250ms ease-in-out;
    -moz-transition: transform 250ms ease-in-out;
    -ms-transition: transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
}

.navbar-container .nav-items .nav-link:hover:after {
    transform: scaleX(0.8);
    -webkit-transform: scaleX(0.8);
    -moz-transform: scaleX(0.8);
    -ms-transform: scaleX(0.8);
    -o-transform: scaleX(0.8);
}

.navbar-container .nav-items .login-register {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navbar-container .nav-items .login-register .button {
    color: #157EE9;
    /* margin-right:2rem ; */
    border: 2px solid #157EE9;
    padding: 5px 20px;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all ease-in 0.3s;
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -ms-transition: all ease-in 0.3s;
    -o-transition: all ease-in 0.3s;
}

.navbar-container .nav-items .login-register .button:hover {
    background: #DAFFFB;
    background-image: linear-gradient(90deg, #579be4 0%, #07CCEC 100%);
    /* opacity: 0.4; */
}



.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DAFFFB;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}



@media(max-width: 1030px) {
    .navbar-container {
        padding: 0 1rem;
    }
    .logo-container{
        width: 20px;
    }
    .navbar-container .nav-items {
        gap: 0.1rem;
        /* margin-right: 7rem; */
    }

    .navbar-container .nav-items .nav-link a,
    .navbar-container .nav-items .login-register .button {
        font-size: 0.9rem;
    }
}

@media(max-width: 700px) {
    .navbar-container .nav-items .nav-link a {
        color: #DAFFFB;
    }
    .navbar-container .nav-items .login-register .button {
        color: #DAFFFB;
        border: 2px solid #fff;
    }
    .navbar-container .nav-items .nav-link:after {
        border-top: 2px solid #fff;
    }
    /* .navbar-container .logo-container a{
        margin-right: 3rem;
    } */
    .logo-container{
        margin-right: 10rem;
    }
    .navbar-container .nav-items {
        flex-direction: column;
        position: fixed;
        top: 54px;
        right: -100%;
        width: 100vw;
        height: 100vh;
        padding: 1rem 0;
        z-index: 10;
        /* background: #2590B5; */
        background-image: linear-gradient(90deg, #167ce9 0%, #07CCEC 100%);

        transition: 0.2s ease-in;
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -ms-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
    }

    .bars {
        width: 22px;
        height: auto;
        cursor: pointer;
    }

    .bars .bar {
        width: 100%;
        height: 2px;
        background: #1584E9;
        margin: 5px;
    }

    .navbar-container .nav-items {
        gap: 3rem;
    }

    .navbar-container .nav-items .login-register {
        width: 50%;
        text-align: center;
        flex-direction: column;
        gap: 2rem;
    }

    .navbar-container .nav-items .login-register .button {
        padding: 1rem 0;
    }

    .main {
        font-size: 2rem;
    }
}

.navbar-container .nav-items.active {
    right: 0;
}


.btn1,.btn2{
    padding:15px;
    text-align:center;
    border-radius:40px;
    outline:none !important;
    display:block;
    width:180px;
    margin:5vh 0;
    border:0;
    transition:0.5s;
    }
    .btn1{
    background: transparent linear-gradient(90deg, #167ce9 0%, #07CCEC 100%) 0% 0% no-repeat padding-box;
    color:#fff;
    font-weight:600;
    }
    .btn1:hover,.btn2:hover{
    box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
    }